body {
	/* background-color: lightgrey; */
}

* {
/* 	outline: red 1px solid; */
}

#holding-bag {
	padding: 3em;
	margin: 3em;
	
	/* 	For testing */
	outline: lightgrey 1px solid;
}

.shopping-list {
	position: relative;
	display:table;
	width: 100%;
	padding-top: 50px;
	
	/* For testing */
	outline: green 1px solid;

}

.row {
	display: table;
	position: relative;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	width: 100%;
	height: 2em;
	
	/* For testing */
	outline: rgba(0, 255, 255, 0.4) 1px solid;

}

.item .column {
	position: relative;
	float: left;
	display:table-cell; 
	vertical-align:middle;
	margin-left: 10px;
}

.item .checkbox {
	text-align: center;
	height: 1.5em;

	outline: red 1px solid;

}

.item .checkbox input[type="checkbox"] {
	margin-left: auto;
	margin-right: auto;
}

.first-column {
	width: 5%;
	margin-left: auto;
	margin-right: auto;
}
	
.add-item .column {
	position: relative;
	float: left;
	width: 15%;
	}
	
.common-items {
	float: right;
}

.notes {
	padding-top: 250px;
	position: relative;
}