body {
	/* background-color: lightgrey; */
}

* {
/* 	outline: red 1px solid; */
}

.superRedOutline {
	border: 5px dashed red;
}

	
#holding-bag {
	padding: 2em;
	margin-top: 100px;
	margin-left: 3em;
	margin-right: 3em;
	margin-bottom:3em;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
	border-style: solid;
  	border: 5px solid #333399;
}

#handle {
    margin-left: 10%;
    margin-right: 10%;
    height: 100px;
    /* background-color: gold; */
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border: 8px solid #3f3b90;
    border-bottom: 0;
    box-sizing: border-box;
    margin-top: -110px;
    margin-bottom: 20px;
    	
}

.title {
 	font-family: 'Arima Madurai', cursive;
	text-align: center;
	margin-top: -40px;
	margin-bottom: 20px;
	font-size: 30px;
 	width: 100%;
}
	
.list {
	position: relative;
	display:table;
	width: 100%;
    font-family: 'Cabin', sans-serif;
    font-size: 20px;
	
	/* For testing */
	/*outline: green 1px solid;*/
}

.show-list-row, .row, .notes {
	display: table;
	position: relative;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	width: 100%;
	/* For testing */
	/* outline: rgba(0, 255, 255, 0.4) 1px solid; */
}

.show-list-row:hover {
	box-shadow: 0 0 1pt 1pt #d4d3ef;
	border-radius: 15px;
}

.show-list-row-hovering {
	box-shadow: 0 0 1pt 1pt #d4d3ef;
	border-radius: 15px;
}

.acquired * {
	color:lightgray;
	text-decoration:line-through;
}

.item {
	border-bottom: dotted lightgrey 1px;
	width: 80%;

}	

.column {
	position: relative;
	float: left;
	display:table-cell; 
	vertical-align:middle;
	margin-left: 10px;
}

.quantity {
	width: 8%;
	text-align: right;
	/*outline: green 1px solid;*/
}

.quantity-button, .item-button {
	outline: none;
}

.quantity-button:focus, .item-button:focus {
	outline: 0.5px lightgray dotted;
}

.quantity-input {
	width: 100%;
	text-align: right;
}
	
.item-new {
	width: 75%;
	/*outline: blueviolet 1px solid;*/
}

.item-input {
	width: 98%;
	padding-left:5px;
}

.input-box:focus {
	outline: #42A377 1px solid;
}

.button-astext {
    background:none;
    border:none;
    width:100%;
    text-align:left;
}

.quantity-button {
	text-align: right;
}

.action-button {
  	background: #3498db;
  	background-image: linear-gradient(to bottom, #42A377, #4ec08d);
  	border-radius: 20px;
	font-family: 'Cabin', sans-serif;
  	color: #ffffff;
  	font-size: 15px;
  	padding: 5px 20px 5px 20px;
  	text-decoration: none;
  	border: 0px;  
}

.action-button:focus {
	 outline: none;
}

.action-button:hover {
  	background: #3498db;
  	background-image: linear-gradient(to bottom, #4ec08d, #68c99e);
  	text-decoration: none;
}


.edit-row {
	text-align: center;
}

.longpress {
	transition-property: outline, border-color, border-width, border-radius;
    transition-duration: 300ms;
    transition-timing-function: linear;
    border-color: #c0544e;
	border-width: 2px;
	border-style: solid;
	border-radius: 10px;

    }
    
.notes {
	position: relative;
	padding-top: 3em;
	padding-bottom: 0.5em;
	width: 100%;
	font-family: 'Cabin', sans-serif;
    font-size: 20px;

}

.notes-input {
	width: 100%;	
}
	