body {
	/* background-color: lightgrey; */
}

* {
/* 	outline: red 1px solid; */
}


#holding-bag {
	padding: 2em;
	margin-top: 100px;
	margin-left: 3em;
	margin-right: 3em;
	margin-bottom:3em;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
	border-style: solid;
  	border: 5px solid #673AB7;
}

#handle {
    margin-left: 10%;
    margin-right: 10%;
    height: 100px;
    /* background-color: gold; */
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border: 8px solid #673AB7;
    border-bottom: 0;
    box-sizing: border-box;
    margin-top: -110px;
    margin-bottom: 20px;
    	outline: pink 1px solid;
}

.title {
 	font-family: 'Arima Madurai', cursive;
	text-align: center;
	margin-top: -40px;
	margin-bottom: 20px;
	font-size: 30px;
 	width: 100%;
}

.list {
	position: relative;
	display:table;
	width: 100%;
    font-family: 'Cabin', sans-serif;
    font-size: 20px;
	
	/* For testing */
	outline: green 1px solid;

}

.show-list-row, .row {
	display: table;
	position: relative;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	width: 100%;
	/* For testing */
	outline: rgba(0, 255, 255, 0.4) 1px solid;
}

.show-list-row:hover {
	color:slategrey;
	text-decoration:line-through;
}

.item-button:hover {
	text-decoration: line-through; 
}

.column {
	position: relative;
	float: left;
	display:table-cell; 
	vertical-align:middle;
	margin-left: 10px;
}

.quantity {
	width: 8%;
	text-align: right;
}

.item {
	width: 80%;
	outline: blueviolet 1px solid;
}
	
.button-astext {
    background:none;
    border:none;
    width:100%;
    text-align:left;
}

.action-button {
	background-color: #00BFA5;
	}
	
.notes {
	padding-top: 250px;
	position: relative;
}

